/* Catppuccin Dark */
:root {
  --bg0: #11111b;
  --bg1: #1e1e2e;
  --bg2: #313244;
  --bg3: #585b70;
  --fg1: #cdd6f4;
  --fg2: #cdd6f4;
  --fg3: #cdd6f4;
  --bgcta: #f38ba8;
  --error: #f38ba8;
  --link: #89b4fa;
}
/* Nordic Light */
/* :root {
  --bg0: #ffffff;
  --bg1: #ECEFF4;
  --bg2: #D8DEE9;
  --fg1: #000000;
  --fg2: #000000;
  --fg3: #000000;
  --bgsel: #ffffff;
  --fgsel: #BF616A;
  --bgcta: #BF616A;
  --fgcta: #000000;
  --error: #BF616A;
} */
/* Catppuccin Light (ALSO OLD BUT LESS OLD) */
/* :root {
  --bg0: #eff1f5;
  --bg1: #dce0e8;
  --bg2: #ccd0da;
  --bg3: #bcc0cc;
  --fg1: #000000;
  --fg2: #000000;
  --fg3: #000000;
  --bgsel: #ffffff;
  --fgsel: #d20f39;
  --bgcta: #d20f39;
  --fgcta: #000000;
  --error: #d20f39;
  --link: #1e66f5;
} */
/* Catppuccin Light */
@media (prefers-color-scheme: light) {
  :root {
    --bg1: #eff1f5;
    --bg2: #dce0e8;
    --bg0: #ffffff;
    --bg3: #ccd0da;
    --fg1: #000000;
    --fg2: #000000;
    --fg3: #000000;
    --bgsel: #ffffff;
    --fgsel: #d20f39;
    --bgcta: #d20f39;
    --fgcta: #ffffff;
    --error: #d20f39;
    --link: #1e66f5;
  }
}
/* Catpuccin Light (OLD) */
/* :root {
  --bg3: #eff1f5;
  --bg2: #ccd0da;
  --bg1: #bcc0cc;
  --bg0: #acb0be;
  --fg1: #4c4f69;
  --fg2: #4c4f69;
  --fg3: #4c4f69;
  --bgcta: #d20f39;
} */
/* Nordic Dark */
/* :root {
  --bg0: #2E3440;
  --bg1: #3B4252;
  --bg2: #434C5E;
  --fg1: #ECEFF4;
  --fg2: #ECEFF4;
  --fg3: #ECEFF4;
  --bgsel: #ECEFF4;
  --bgcta: #BF616A;
  --fgcta: #ECEFF4;
  --error: #BF616A;
} */
/* Transparent for Light */
/* :root {
  --bg0: #FFFFFF;
  --bg1: #3B425266;
  --bg2: #434C5E44;
  --fg1: #ECEFF4;
  --fg2: #ECEFF4;
  --fg3: #ECEFF4;
  --bgsel: #ECEFF4AA;
  --fgsel: #434C5E;
  --bgcta: #BF616A;
  --fgcta: #ECEFF4;
  --error: #BF616A;
} */
/* Transparent for Dark */
/* :root {
  --bg0: #000000;
  --bg1: #ECEFF466;
  --bg2: #D8DEE944;
  --fg1: #000000;
  --fg2: #000000;
  --fg3: #000000;
  --bgsel: #ffffffAA;
  --fgsel: #BF616A;
  --bgcta: #BF616A;
  --bgcta: #BF616A;
  --fgcta: #000000;
} */


:root {
  --em: 16;
}

@import "./tinymce.css";

* {
  fill: inherit;
  box-sizing: border-box;
  --fg: var(--fgnext);
  --bg: var(--bgnext);
  --ns: var(--nsnext);
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 1em;
  font-size: calc(var(--em) * 1px);
}

#__next {
  width: 100%;
  height: 100%;
}

main {
  --bgnext: var(--bg0);
  --fgnext: var(--fg0);
  --nsnext: var(--bg1);
  /* --fgs: var(--bg); */
  width: 100%;
  height: 100%;
}

small {
  opacity: 0.75;
  font-weight: 300;
}

::-webkit-scrollbar {
  width: 1em;
}
::-webkit-scrollbar-thumb {
  background-color: var(--scroll-color);
  border-radius: 0.5em;
  border: calc(1em / 3) solid transparent;
  background-clip: padding-box;
  min-height: 1em;
}
::-webkit-scrollbar-thumb:hover {
  border: calc(1em / 4) solid transparent;
}

:focus-visible {
  outline: solid var(--fg) 2px;
  outline-offset: -4px;
}

#modal_portal {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

a {
  text-decoration: none;
  color: var(--link);
  fill: var(--link);
}

input {
  appearance: none;
  height: 3em;
}

textarea {
  appearance: none;
  resize: none;
  font: inherit;
  padding: unset;
  border: none;
  height: fit-content;
}

select {
  appearance: none;
  border: none;
  font: inherit;
  height: 3em;
  line-height: 1em;
}

* {
  --scroll-color: var(--ns);
}
*:hover {
  --scroll-color: var(--fg);
}

.skip_to {
  padding: 0.5em;
  margin: -0.5em 0;
}

.skip_to:not(:focus-visible) > * {
  display: none !important;
}
