/* :root {
  --bg0: #232634;
  --bg1: #303446;
  --bg2: #414559;
  --bg3: #51576D;
  --fg1: #C6D0F5;
  --fg2: #C6D0F5;
  --fg3: #C6D0F5;
  --bgcta: #EF9F76;
  --fgcta: var(--bg);
} */
:root {
  --bg0: #1e1e2e;
  --bg1: #313244;
  --bg2: #45475a;
  --bg3: #585b70;
  --fg1: #cdd6f4;
  --fg2: #cdd6f4;
  --fg3: #cdd6f4;
  --bgcta: #f38ba8;
}
/* :root {
  --bg3: #eff1f5;
  --bg2: #ccd0da;
  --bg1: #bcc0cc;
  --bg0: #acb0be;
  --fg1: #4c4f69;
  --fg2: #4c4f69;
  --fg3: #4c4f69;
  --bgcta: #d20f39;
} */

* {
  fill: inherit;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 1em;
  font-size: 16px;
} 

#__next {
  width: 100%;
  height: 100%;
}

main {
  --bg: var(--bg0);
  --fg: var(--fg0);
  --ns: var(--bg1);
  /* --fgs: var(--bg); */
  background-color: var(--bg0);
  width: 100%;
  height: 100%;
}

small {
  font-size: 1em;
  opacity: 0.5;
  font-weight: 300;
}

::-webkit-scrollbar {
  width: 1em;
}
::-webkit-scrollbar-thumb {
  background-color: var(--ns);
  border-radius: 0.5em;
  border: calc(1em / 3) solid transparent;
  background-clip: padding-box;
}
::-webkit-scrollbar-thumb:hover {
  border: calc(1em / 4) solid transparent;
}
