.iconbtn {
  margin: calc(var(--revpad) * -1) 0;
  padding: var(--revpad);
  border-radius: 0.5em;
  transition: background-color 100ms ease-out;
}

.iconbtn:first-child {
  margin-left: calc(-1 * var(--revpad));
}
.iconbtn:last-child {
  margin-right: calc(-1 * var(--revpad));
}
