.fullscreen {
  background-color: #00000077;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: all;
}

.hidden {
  display: none;
}

.modal {
  position: relative;
  width: 512px;
  max-width: 100vw;
}

.close_modal {
  position: absolute;
  right: 1em;
  top: 1em;
}
